<div class="container">
    <div class="row justify-content-center" style="margin:50px">
        <div class="col-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/1216/1216995.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="empList">Employee List</a>    
        </div>
        <div class="col-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/476/476844.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="addEmp">Add New Employee</a>    
        </div>
    </div>
    <div class="row justify-content-center" style="margin:50px">
        <div class="col-3 text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/3652/3652193.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="deptList">Department List</a>    
        </div>
        <div class="col-3 text-center">
            <img src="https://cdn4.iconfinder.com/data/icons/symbol-color-business-1/32/office_building-add-512.png" width="120">
            <br>
            <br>
            <a class="btn btn-outline-primary" routerLink="addDept">Add New Department</a>    
        </div>
    </div>
</div>